.signup-main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 100vw;
}

.signup-main > * {
    width: 100%;
}

.signup-main-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media all and (max-width: 768px) {
    .signup-main {
        display: block;
    }
    
}